{% include 'layout/header.html'%}
<script type="text/javascript">
	document.getElementById("index-li").classList.remove('active');
	document.getElementById("ventas-li").classList.remove('active');
	document.getElementById("nuevo-concurso-li").classList.remove('active');
	document.getElementById("mis-concursos-li").classList.add('active');
</script>
{% for message in messages %}
<!--dir class="alert alert-info" {{message.tags}} alert-dismissible" role="alert" style="width: auto;">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
	{{message}}
</dir-->
<script type="text/javascript">
	window.onload = function() {
		$(".load").fadeOut();
  	demo.showNotificationSucces('top','center', "{{message}}")
	};
	
</script>
{% endfor %}
		<div class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
            <div class="card card-plain">
              <div class="card-header" data-background-color="purple">
              {% csrf_token %}
                <h4 class="title">Mis Concursos</h4>
                <!--p class="category">información basada en las ventas registradas en la aplicación</p-->
              </div>
              {% if comentarios %}
              <div class="card-content table-responsive">
                <table id="tabla" class="table table-hover ">
                  <thead class="text-succes" style="font-weight: bold">
                  	<tr>
                  		
                  		<th style="width: 160px;">Imagen</th>
                  		<th>
                  			<center>Descripción</center> 
                  		</th>
                  		<th>
                  			<center>Cometarios</center>
                  		</th>
                  		<th>
                  			<center>Cometarios Validos</center>
                  		</th>
                  		<th style="width: 6%">
                  			<center>Like's</center>
                  		</th>
                  		<th>
                  			<center>Acciones<center>
                  		</th>
                  	</tr>
                  </thead>
                  <tbody>
                 
                  {% for c in comentarios %}
	                  	
	                  	<tr>
		                  	<td>
		                  
		                  	{% if c.imagen2 == None %}
		                  	
					                <img class="img" src="{{c.ruta_img}}"  />
					              {%else%}
					              	{% if imagenes_count == "1" %}
					              		{% for fotos in c.imagen2%}
					              		<div class="col-md-5 col-md-offset-4">
															<div class="carousel-inner">
					              				<img class="img" src="{{fotos}}"  />
					              				
					              			</div>
					              		</div>
					              		{%endfor%}
					              		

					              	{% else %}
	  												<div class="carousel-inner">
	  		              				<div id="myCarousel{{forloop.counter0}}" class="carousel" data-ride="carousel">
	  				              			<ol class="carousel-indicators">
	  				              			{% for orden in c.imagen2%}	
	  				              				{% if forloop.first %}
	  												      <li data-target="#myCarousel{{ forloop.parentloop.counter }}" data-slide-to="{{forloop.counter0}}" class="active"></li>
	  												      
	  												      {% else %}
	  												      	<li data-target="#myCarousel{{ forloop.parentloop.counter }}" data-slide-to="{{forloop.counter0}}"></li>
	  												      {% endif %}
	  												    
	  												    {% endfor %}
	  												    </ol>
	  												    
	  												    
	  												    <div class="carousel-inner">
	  												    	{% for fotos in c.imagen2%}
	  												    		
	  												    		{%if forloop.first %}
	  												    			<div class="item active">
	  												    				<img src="{{fotos}}" alt="" style="width:100%;" >
	  												    			</div>
	  												    			
	  												    		{% else %}
	  												    			<div class="item">
	  												    				<img src="{{fotos}}" alt="" style="width:100%;" >
	  												    			</div>
	  												    		{% endif %}
	  												    		
	  												    	{% endfor %}
	  												    
	  												    </div>
	  												    <a class="left carousel-control" href="#myCarousel{{forloop.counter0}}" data-slide="prev">
	  												      <!--span class="glyphicon glyphicon-chevron-left"></span>
	  												      <span class="sr-only">Previous</span-->
	  												      <i class="material-icons">keyboard_arrow_left</i>
	  												    </a>
	  												    <a class="right carousel-control" href="#myCarousel{{forloop.counter0}}" data-slide="next">
	  												      <!--span class="glyphicon glyphicon-chevron-right"></span>
	  												      <span class="sr-only">Next</span-->
	  												      <i class="material-icons">keyboard_arrow_right</i>
	  												    </a>
	  										  		</div>
	  										  	</div>
					              	{%endif%}
					              {%endif%}
		                  	
					              </td>
		                  	<td> {{c.condiciones}} </td>
		                  	<td>
		                  		<center><i class="material-icons" style="font-size: 26px;">comment</i> {{c.cont_comentario}}</center>
		                  	</td>
		                  	<td >
		                  		<center>
		                  			<div class="CometariosValidos" data-modal="Modal{{forloop.counter0}}">
		                  				<i class="material-icons" style="color: green;font-size: 26px;">comment</i> {{c.cont_validos}}
		                  			</div> 
		                  		</center>
		                  	</td>
		                  	<td >
		                  		<center>
		                  			<i class="material-icons" style="color: red;font-size: 26px;">favorite</i> {{c.cont_likers}}
		                  		</center>
		                  	</td>
		                  	<td>
		                  		<!--button type="button" class="btn btn-warning pull-right Modalcancelar" data-media="" data-texto="">	Generar Ganadores
													 </button-->
													{% if c.activo is 1 %}
													 	{%if c.cont_validos > 0%}
															<button type="button" class="btn btn-success pull-right ModalGanadores"  data-mediaid="{{c.media_id}}" id="btn-ganadores">	Generar Ganadores
														 </button>
														 {%endif%}
													{% else %}
														 <center>
														 	<i class="material-icons" style="color: green;font-size: 40px;">check_circle</i>
														 	<p>Concurso Finalizado</p>
														 	{% if c.publi_ganadores is 0%}
														 	
														 		<button type="button" class="btn btn-success pull-right ModalPublicarGanadoresDespues"  data-mediaid="{{c.media_id}}" id="btn-publicar-ganadores-despues">Publicar Ganadores
														 		</button>
														 	{% endif%}
														 </center>
													 
													{% endif %}
													<button type="button" class="btn btn-warning pull-right"  data-mediaid="{{c.media_id}}" id="btn-eliminar-concurso">Eliminar COncurso
													</button>
												</td>
											</tr>
                 
									
                  {% endfor%}
              		</tbody>

                </table>
              </div>
              {%else%}
	              <center>
									<h3> Aun no publicas o moniteras un concurso</h3>
									<br><br>
								</center>
								<div class="row">
									<div class="col-md-6">
										<center>
											<a type="button" class="btn btn-success btn-round" href="{% url 'admingo:index' %}"> Selecciona un Concurso</a>
										</center>	
									</div>
									<div class="col-md-6">
										<center>
											<a type="button" class="btn btn-info btn-round" href="{% url 'admingo:nuevo_concurso' nuevo='nuevo' %}"> Publica un Concurso</a>
										</center>	
									</div>
								</div>							
              {%endif%}
            </div>
          </div>
				</div>
				
			</div>
		</div>

	{% include 'layout/footer.html'%}	
	</div>
</div>



</body>


{% for c in comentarios%}
	<div class="modal fade" id="Modal{{forloop.counter0}}" tabindex="-1" role="dialog" aria-labelledby="Modal{{forloop.counter0}}Label" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="Modal{{forloop.counter0}}Label">Comentarios Validos</h4>
	      </div>
	      <div class="modal-body">
	      	{% if com_validos%}
		      	{% for com_validos in c.validos%}
		      		<p>
		      			<span style="font-weight: bold;">@{{com_validos.user.username}}</span> 

		      			{{com_validos.text}}

		      		</p>
		      	{%endfor%}
		      {%else%}
			      <center>
			      	<h5>Aun no tenemos comentarios Validos</h5>
		      	</center>
		      {%endif%}
	      	
	      </div>
	        	
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default btn-simple" data-dismiss="modal">Cerrar</button>
	      </div>
	    </div>
	  </div>
	</div>
{% endfor%}

<div class="modal fade" id="ModalGanadores" tabindex="-1" role="dialog" aria-labelledby="ModalGanadoresLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="ModalGanadoresLabel">Ganadores</h4>
      </div>
      <form class="form form-ganadores" method="post" action='{% url "admingo:guardar_ganadores" %}'>
	      <div class="modal-body" id="texto-ganadores">
	      
	    	</div>
	    	<div class="modal-footer">
	        <button type="button" class="btn btn-default btn-simple" data-dismiss="modal">Cancelar</button>
	        <button type="submit" class="btn btn-success btn-simple" id="btn-ganadores-fin" data-mediaid ="" >Aceptar Ganadores</button>
	      </div>
	      </form>
	  </div>
	</div>
</div>

<div class="modal fade" id="ModalPregunta" tabindex="-1" role="dialog" aria-labelledby="ModalPreguntaLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body" id="texto-ganadores">
      	<h3> Deseas publicar los ganadores en el post.?</h3>
      	<center>
        	<button type="button" class="btn btn-success" id="btn-si-ganadores" >SI</button>	
      		<button type="button" class="btn btn-default" id="btn-no-ganadores">NO</button>
      	</center>
      	
    	</div>
    	<div class="modal-footer">
        
      </div>
	  </div>
	</div>
</div>

<div class="modal fade" id="ModalEliminarConcurso" tabindex="-1" role="dialog" aria-labelledby="ModalEliminarConcursoLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body" id="texto-ganadores">
      	<h3> Seguro que quieres eliminar el concurso.?</h3>
      	<center>
        	<button type="button" class="btn btn-success" id="btn-si-eliminar" data-mediaid="">SI</button>	
      		<button type="button" class="btn btn-default" id="btn-no-eliminar">NO</button>
      	</center>
      	
    	</div>
    	<div class="modal-footer">
        
      </div>
	  </div>
	</div>
</div>

<div class="modal fade" id="ModalPublicarGanadores" tabindex="-1" role="dialog" aria-labelledby="ModalPublicarGanadoresLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="ModalPublicarGanadoresLabel">Publicar Ganadores</h4>
        <p>Los ganadores seran publicados con un comentario en el post del concurso</p>
      </div>
     	<form class="form form-publicar-ganadores" method="post" action='{% url "admingo:publicar_ganadores" %}'>
	      <div class="modal-body" id="texto-ganadores">
	      	<textarea id="comentar-text" name="comentar-text" value="" class="form-control" rows="5" >
	      		
	      	</textarea>
	    	</div>

	    	<div class="modal-footer">
	        <button type="button" class="btn btn-default btn-simple" id="cancelar-publicacion">Cancelar</button>
	        <button type="submit" class="btn btn-success btn-simple" id="btn-publicar-fin" data-mediaid ="" >Publicar Ganadores</button>
	      </div>
      </form>
	  </div>
	</div>
</div>

<div class="modal fade" id="ModalRecordar" tabindex="-1" role="dialog" aria-labelledby="ModalRecordarLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
     
      <div class="modal-body" id="texto-recordar">
      <input type="number" name="id-recordad" id="id-recordad" value="" style="display: none">
    	</div>
    	<div class="modal-footer">
        <button type="button" class="btn btn-default btn-simple" id="btn-entendido">Entendido</button>
      </div>
	  </div>
	</div>
</div>

{% include 'layout/modal_cambiar_ig.html'%}

	<script type="text/javascript">
    	$(document).ready(function(){

			// Javascript method's body can be found in assets/js/demos.js
      	demo.initDashboardPageCharts();
      	$.extend( true, $.fn.dataTable.defaults, {
				    "searching": true,
				    "ordering": false
				} );
      	$('#tabla').DataTable({
			    "language": {"decimal":        "",
			    "emptyTable":     "No hay datos en la tabla",
			    "info":           "Mostrando _START_ de _END_ entre _TOTAL_ registros",
			    "infoEmpty":      "Mostrando 0 de 0 entre 0 Registros",
			    "infoFiltered":   "(Filtrado de _MAX_  Registros)",
			    "infoPostFix":    "",
			    "thousands":      ",",
			    "lengthMenu":     "Mostrar _MENU_ Registros",
			    "loadingRecords": "Cargando...",
			    "processing":     "Procesando...",
			    "search":         "Buscar:",
			    "zeroRecords":    "No hay concidencias",
			    "paginate": {
			        "first":      "Primero",
			        "last":       "Ultimo",
			        "next":       "Siguiente",
			        "previous":   "Anterior"
			    }
			  	}
			    
				});

				$('.CometariosValidos').on('click',function(){
					modal =$(this).attr('data-modal');
					//console.log("media_id:"+media_id)
					//var csrftoken = getCookie('csrftoken');
				
					//$('#media_id').val(media_id);
					
			    $('#'+modal+'').modal('show');

				});

				$("#btn-eliminar-concurso").on('click',function(){
					media_id = $(this).attr('data-mediaid');
					$("#btn-si-eliminar").attr('data-mediaid',media_id);
					$('#ModalEliminarConcurso').modal('show');


				});

				$("#btn-no-eliminar").on('click',function(){
					
					$('#ModalEliminarConcurso').modal('hide');

				});

				$("#btn-si-eliminar").on('click',function(){
					
					media_id = $(this).attr('data-mediaid');
					var csrftoken = getCookie('csrftoken');
					$.ajax({
				    url : '{% url "admingo:delete_concurso" %}',
				    type : 'POST',
				    data : 
				    	{	'csrfmiddlewaretoken' : csrftoken,
				    		'media_id': media_id,
				    	},
						beforeSend: function() {
			        // setting a timeout
			        $('#ModalEliminarConcurso').modal('hide');
			        $(".load").fadeIn();
			        //console.log("Before Send");
      				//$.ajaxSettings.beforeSend(xhr, settings);
			    	},
				    success : function(data){
							
							
							if (data.estado == 1){
								demo.showNotificationSucces('top','center','El concurso fue Eliminado con Exito!');
								location.reload();
							}else{
								demo.showNotificationError('top','center','Hubo un problema al eliminar el concurso. Intentalo nuevamente.');
								location.reload();	
							}
				        
				    },
		        error : function(xhr,errmsg,err) {
							console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
							$(".load").fadeOut();
						}              
				
					});
					
				});

				$('#btn-ganadores').on('click',function(){
					media_id = $('#btn-ganadores').attr('data-mediaid');
					var csrftoken = getCookie('csrftoken');
					$.ajax({
				    url : '{% url "admingo:generar_ganadores" %}',
				    type : 'POST',
				    data : 
				    	{	'csrfmiddlewaretoken' : csrftoken,
				    		'media_id': media_id,
				    		'despues': 0
				    	},
						beforeSend: function() {
			        // setting a timeout
			        $(".load").fadeIn();
			        //console.log("Before Send");
      				//$.ajaxSettings.beforeSend(xhr, settings);
			    	},
				    success : function(data){
							
							resultado= data.res;
							html=""
							inputs=""
							
							$.each(resultado, function(index, element) {
								
			        		html+='<p><span style="font-weight: bold;">@'+element.username+'</span> '+element.text+'</p>'
			        		inputs+='<input type="text" value="'+element.username+'" name="arr_ganadores[]" style="display:none;">'
			        });
							$("#btn-ganadores-fin").attr('data-mediaid',media_id);
			        $("#texto-ganadores").html(html+inputs);
			        //$("#texto-ganadores").html(inputs);
							$('#ModalGanadores').modal('show');
							$(".load").fadeOut();
				        
				    },
		        error : function(xhr,errmsg,err) {
							console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
							$(".load").fadeOut();
						}              
				
					});
					
				});

				$("#ModalGanadores").on("submit", ".form-ganadores", function (e) {
					e.preventDefault();
					var result_ganadores = [];
					var csrftoken = getCookie('csrftoken');
					media_id = $('#btn-ganadores-fin').attr('data-mediaid');
					//var array_img = $('#array_img').serializeArray()
							
					$('input[name^="arr_ganadores"]').each(function() {
					  result_ganadores.push(this.value);

					});
					
					$.ajax({
				    url : '{% url "admingo:guardar_ganadores" %}',
				    type : 'POST',
				    data : 
				    	{	'csrfmiddlewaretoken' : csrftoken,
				    		'media_id' : media_id,
				    		'result_ganadores[]' : result_ganadores
				    	},
						beforeSend: function() {
			        // setting a timeout
			        $('#ModalGanadores').modal('hide');
			        $(".load").fadeIn();			        
			       
			    	},
				    success : function(data){
							//console.log(data);
							$(".load").fadeOut();
							$('#ModalGanadores').modal('hide');
							
							$("#ModalPregunta").modal('show')
							
				        
				    },
		        error : function(xhr,errmsg,err) {
						 console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
						 $('#ModalGanadores').modal('hide');
						 }              
				
					});
				});


				$("#btn-si-ganadores").on('click', function(){
					result_ganadores=""
					//para recordad los ganadores
					$("#id-recordar").val(1)
					$('input[name^="arr_ganadores"]').each(function() {
					  result_ganadores+=" @"+this.value+" ";

					});
					$("#comentar-text").val(result_ganadores)
					$("#ModalPregunta").modal('hide')
					media_id = $('#btn-ganadores-fin').attr('data-mediaid');
					$("#btn-publicar-fin").attr('data-mediaid',media_id);
					$("#ModalPublicarGanadores").modal('show')

				});

				$("#btn-no-ganadores").on('click', function(){
					result_ganadores=""
					html='<h3>Recuerda el(los) ganadores:</h3><br>'
					$('input[name^="arr_ganadores"]').each(function() {
					  result_ganadores+=" @"+this.value+" ";

					});
					
					$("#texto-recordar").html(html+"<p> "+result_ganadores+"</p>")
					$("#id-recordar").val(1)
					$("#ModalPregunta").modal('hide')
					$("#ModalRecordar").modal('show')
				});

				$("#cancelar-publicacion").on('click', function(){
					result_ganadores=""
					html='<h3>Recuerda el(los) ganadores:</h3><br>'
					$('input[name^="arr_ganadores"]').each(function() {
					  result_ganadores+=" @"+this.value+" ";

					});
					$("#texto-recordar").html(html+"<p> "+result_ganadores+"</p> ")
					$("#ModalPublicarGanadores").modal('hide')
					$("#ModalRecordar").modal('show')
				});

				$("#btn-entendido").on('click', function(){
					$("#ModalRecordar").modal('hide')
					var_recuerda = $("#id-recordar").val()

					if (var_recuerda == 1){
						demo.showNotificationSucces('top','center','Concurso Finalizado con Exito!. Debes publicar los ganadores' )
						location.reload();	
					}else{
						demo.showNotificationSucces('top','center','Puedes hacerlo cuando desees.' )
						location.reload();
					}
					
				});


				$("#ModalPublicarGanadores").on("submit", ".form-publicar-ganadores", function (e) {

					e.preventDefault();
					
					var csrftoken = getCookie('csrftoken');
					media_id = $('#btn-publicar-fin').attr('data-mediaid');
					comentario = $('#comentar-text').val();
					
					$.ajax({
				    url : '{% url "admingo:publicar_ganadores" %}',
				    type : 'POST',
				    data : 
				    	{	'csrfmiddlewaretoken' : csrftoken,
				    		'media_id' : media_id,
				    		'comentario' : comentario
				    	},
						beforeSend: function() {
			        // setting a timeout
			        $('#ModalPublicarGanadores').modal('hide');
			        $(".load").fadeIn();			        
			       
			    	},
				    success : function(data){
							//console.log(data);
							$(".load").fadeOut();
							$('#ModalPublicarGanadores').modal('hide');
							if (data.estado == 1){
								demo.showNotificationSucces('top','center','Concurso Finalizado con Exito!. Hemos realizado el comentario de los ganadores.');
								location.reload();
							}else{
								demo.showNotificationError('top','center','Hubo un problema al realizar el comentario. Intentalo nuevamente.');
							}
				        
				    },
		        error : function(xhr,errmsg,err) {
							console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
						 	$('#ModalPublicarGanadores').modal('hide');
						}              
				
					});
				});

				$('#btn-publicar-ganadores-despues').on('click',function(){
					media_id = $('#btn-publicar-ganadores-despues').attr('data-mediaid');
					var csrftoken = getCookie('csrftoken');
					$.ajax({
				    url : '{% url "admingo:generar_ganadores" %}',
				    type : 'POST',
				    data : 
				    	{	'csrfmiddlewaretoken' : csrftoken,
				    		'media_id': media_id,
				    		'despues': 1
				    	},
						beforeSend: function() {
			        // setting a timeout
			        $(".load").fadeIn();
			        //console.log("Before Send");
      				//$.ajaxSettings.beforeSend(xhr, settings);
			    	},
				    success : function(data){
							
							resultado= data.res;
							html=""
							inputs=""
							
							$.each(resultado, function(index, element) {
								
			        		html+=" @"+element+" ";
			        		inputs+='<input type="text" value="'+element+'" name="arr_ganadores[]" style="display:none;">'

			        });
							$("#btn-publicar-fin").attr('data-mediaid',media_id);
							$(".load").fadeOut();
							$("#texto-ganadores").html(inputs)
							$("#comentar-text").val(html)
							//para recordad los ganadores
							$("#id-recordar").val(0)

							$("#ModalPublicarGanadores").modal('show')
				        
				    },
		        error : function(xhr,errmsg,err) {
							console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
							$(".load").fadeOut();
						}              
				
					});
					
				});

    	});
	</script>

</html>



