{% include 'layout/header.html'%}
<script type="text/javascript">
	document.getElementById("index-li").classList.remove('active');
	document.getElementById("nuevo-concurso-li").classList.remove('active');
	document.getElementById("mis-concursos-li").classList.remove('active');
	document.getElementById("ventas-li").classList.add('active');

</script>
{% for message in messages %}
<!--dir class="alert alert-info" {{message.tags}} alert-dismissible" role="alert" style="width: auto;">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
	{{message}}
</dir-->
<!--script type="text/javascript">
	window.onload = function() {
  	demo.showNotificationSucces('top','center', "{{message}}")
	};
	
</script-->
{% endfor %}
{% csrf_token %} 
		<div class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="card card-stats">
							<div class="card-header" data-background-color="orange">
								<i class="fa fa-hashtag" ></i>

							</div>
							<div class="card-content">
								<!--p class="category">Hastags</p>
								<h3 class="title">{{tags}}</h3-->
							</div>
							<!--div class="card-footer">
								<div class="stats">
									<i class="material-icons text-danger">warning</i> <a href="#pablo">Get More Space...</a>
								</div>
							</div-->
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="card card-stats">
							<div class="card-header" data-background-color="green">
								<i class="material-icons">insert_photo</i>
							</div>
							<div class="card-content">
								<!--p class="category">Cantidad de Fotos</p>
								<h3 class="title">{{media_count}}</h3-->
							</div>
							<!--div class="card-footer">
								<div class="stats">
									<i class="material-icons">date_range</i> Last 24 Hours
								</div>
							</div-->
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="card card-stats">
							<div class="card-header" data-background-color="red">
								<i class="material-icons">group</i>
							</div>
							<div class="card-content">
								<!--p class="category">Seguidores</p>
								<h3 class="title">{{follower}}</h3-->
							</div>
							<!--div class="card-footer">
								<div class="stats">
									<i class="material-icons">local_offer</i> Tracked from Github
								</div>
							</div-->
						</div>
					</div>

					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="card card-stats">
							<div class="card-header" data-background-color="blue">
								<i class="material-icons">group</i>
							</div>
							<div class="card-content">
								<!--p class="category">Seguidos</p>
								<h3 class="title">{{following}}</h3-->
							</div>
							<!--div class="card-footer">
								<div class="stats">
									<i class="material-icons">update</i> Just Updated
								</div>
							</div-->
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
            <div class="card card-plain">
              <div class="card-header" data-background-color="purple">
                <h4 class="title">Mis Ventas</h4>
                <p class="category">Todas las ventas que has realizado desde la herramienta</p>
              </div>
              {% if todas_ventas%}
              <div class="card-content table-responsive">
                <table id="tabla" class="table table-hover ">
                  <thead class="text-succes" style="font-weight: bold">
                  	<!--tr>
                  		<th style="width: 160px;">Imagen</th>
                  		<th>Cliente</th>
                  		<th>Telefono</th>
                  		<th>Descripción</th>
                  		<th>Cantidad</th>
                  		<th>Precio</th>
                  		<th>Total</th>
                  	</tr-->
                  	<tr>

                  		<th style="width: 160px;"><center>Producto</center></th>
                  		<th><center> Acciones </center></th>
                  	</tr>
                  </thead>
                  <tbody>
                 
                  {% for v in todas_ventas %}
                  	
                  <tr>
                  	<td>
										          		
                  		{% if v.cant_img == 1%}
                  			{% for fotos in v.imagen%}
	                  			<img class="img" src="{{fotos}}"  />
	                  			<input id="img-publi" name="{{pro.producto.media_id}}"  type="text" value="{{fotos}}" style="display: none" />
	                  		{%endfor%}

                  		{% else %}
                  	
                  		

	                  		<div id="myCarousel{{forloop.counter0}}" class="carousel" data-ride="carousel">
	                  			<ol class="carousel-indicators">
		                  			{% for orden in v.imagen%}	
				              				{% if forloop.first %}
												      <li data-target="#myCarousel{{ forloop.parentloop.counter }}" data-slide-to="{{forloop.counter0}}" class="active"></li>
												      
												      {% else %}
												      	<li data-target="#myCarousel{{ forloop.parentloop.counter }}" data-slide-to="{{forloop.counter0}}"></li>
												      {% endif %}
												    
												    {% endfor %}
											    </ol>
										    
										    <div class="carousel-inner">
										    	{% for fotos in v.imagen%}
												    		
										    		{%if forloop.first %}
										    			<div class="item active">
										    				<img src="{{fotos}}" alt="" style="width:100%;" >
										    			</div>
										    			
										    		{% else %}
										    			<div class="item">
										    				<img src="{{fotos}}" alt="" style="width:100%;" >
										    			</div>
										    		{% endif %}
										    		
										    	{% endfor %}
										    
										    </div>
										    <a class="left carousel-control" href="#myCarousel{{forloop.counter0}}" data-slide="prev">
										    	
										    	<i class="material-icons">keyboard_arrow_left</i>

										    </a>
										    <a class="right carousel-control" href="#myCarousel{{forloop.counter0}}" data-slide="next">

										    	<i class="material-icons">keyboard_arrow_right</i>
										      
										    </a>
										  </div>
                  		<!--img class="img" src="{{obj.carousel_media.0.image_versions2.candidates.0.url}} " />
                  		</td-->

                  	{% endif %}

                  	<!--td> {{v.nombre_cliente}} </td>
                  	<td> {{v.telefono_cliente}} </td>
                  	<td> {{v.descripcion_venta}} </td>
                  	<td> {{v.cantidad}} </td>
                  	<td> {{v.precio|floatformat:2 }} </td>
                  	<td> {{v.precio_total|floatformat:2 }} </td-->
                  	<td> 
                			<div class="row">
                			 	<div class="col-sm-6">
                			 		<button id="btn-detalles" type="button" class="btn btn-simple pull-right ModalDetalles"  data-mediaid="{{v.media_id}}" id="btn-ganadores" title="Ver Detalles de Compradores" style="padding: 0px 0px !important">

										 			<i class="material-icons text-success" style="font-size: 30px">remove_red_eye</i>

										 			</button>

                			 	</div>
                			 	<div class="col-sm-6">
                			 		<button id="btn-eliminar-venta" type="button" class="btn btn-simple "  data-mediaid="{{v.media_id}}" title="Eliminar Venta" style="padding: 0px 0px !important">

										 			<i class="material-icons text-default" style="font-size: 30px">delete_sweep</i>

                			 	</div>
                			</div>	

                  	</td>
									</tr>
                  {% endfor%}
              		</tbody>

                </table>
              </div>
              {%else%}
              
								<center>
								<h3> Aun no vendes tus productos</h3>
									<div class="row">
										<div class="col-md-6">
											<center>
												<a type="button" class="btn btn-success btn-round" href="{% url 'admingo:index' %}"> Ir a Mis Publicaciones </a>
											</center>	
										</div>
										<div class="col-md-6">
											<center>
												<a type="button" class="btn btn-primary btn-round" href="{% url 'admingo:productos' %}"> Ir a Mis Productos </a>
											</center>	
										</div>
									</div>	
									
									
								</center>
					
              {%endif%}
            </div>
          </div>
				</div>
				
			</div>
		</div>

	{% include 'layout/footer.html'%}	
	</div>
	
</div>



</body>


<!-- Modal Detalles de la venta -->
<div class="modal fade" id="ModalDetalles" tabindex="-1" role="dialog" aria-labelledby="ModalDetallesLabel" aria-hidden="true">
  <div class="modal-dialog" style="width: 1000px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="ModalDetallesLabel">Detalles de la Venta</h4>
      </div>
      <div class="modal-body">
      	
	      <div class="content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-content table-responsive">
                    <table class="table">
                    	<thead class="text-primary">
                      	<th><center>Cliente</center></th>
                        <th><center>Teléfono</center></th>
                        <th><center>Cantidad</center></th>
												<th><center>Precio</center></th>
												<th><center>Monto Venta</center></th>
												<th><center>Fecha Venta</center></th>
                      </thead>
                      <tbody id="id-ventas-table">
                                    
                      </tbody>
                    </table>

                  </div>
                </div>
              </div>

               
            </div>
          </div>
        </div>
		    
        	
	      
	    </div>
	    <div class="modal-footer">
        <button type="button" class="btn btn-default btn-simple" data-dismiss="modal">Cerrar</button>
      </div>
	  </div>
  </div>
</div>

<!-- Modal Pregunta Eliminar -->
<div class="modal fade" id="ModalPregutaEliminar" tabindex="-1" role="dialog" aria-labelledby="ModalPregutaEliminarLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
      {% csrf_token %}
    
	      <div class="modal-body" id="texto-ganadores">
	      	<center>
	      		<h3> Deseas eliminar la venta?</h3>
	      	  	Al momento de eliminar la venta, el monto vendido quedara intacto<br>
	      	
	      		<button type="button" class="btn btn-default" data-dismiss="modal" >NO</button>
	        	<button type="button" class="btn btn-success" id="btn-si-eliminar-venta"  data-mediaid="">SI</button>	
	      	</center>
	      	
	    	</div>
	    </div>
	    <div class="modal-footer">
      </div>
	  </div>
  </div>
</div>


	<script type="text/javascript">
    	$(document).ready(function(){

			// Javascript method's body can be found in assets/js/demos.js
      	demo.initDashboardPageCharts();
      	$.extend( true, $.fn.dataTable.defaults, {
				    "searching": true,
				    "ordering": false
				} );
      	$('#tabla').DataTable({
			    "language": {"decimal":        "",
			    "emptyTable":     "No hay datos en la tabla",
			    "info":           "Mostrando _START_ de _END_ entre _TOTAL_ registros",
			    "infoEmpty":      "Mostrando 0 de 0 entre 0 Registros",
			    "infoFiltered":   "(Filtrado de _MAX_  Registros)",
			    "infoPostFix":    "",
			    "thousands":      ",",
			    "lengthMenu":     "Mostrar _MENU_ Registros",
			    "loadingRecords": "Cargando...",
			    "processing":     "Procesando...",
			    "search":         "Buscar:",
			    "zeroRecords":    "No hay concidencias",
			    "paginate": {
			        "first":      "Primero",
			        "last":       "Ultimo",
			        "next":       "Siguiente",
			        "previous":   "Anterior"
			    }
			  	}
			    
				});

      	$('.ModalDetalles').on('click',function(){
					media_id =$(this).attr('data-mediaid');
					var csrftoken = getCookie('csrftoken');
					$.ajax({
				    url : "{% url 'admingo:detalles_venta'%}",
				    type : 'POST',
				    data : 
				    	{	'csrfmiddlewaretoken' : csrftoken,
				    		'media_id' : media_id,
				    	},
						beforeSend: function() {
			        // setting a timeout
			        $(".load").fadeIn();
			        //$('#MyPausar').modal('hide');
			        //console.log("Before Send");
		  				//$.ajaxSettings.beforeSend(xhr, settings);
			    	},
				    success : function(data){
							//console.log(data);
							$(".load").fadeOut();
							//console.table(data.ventas)
							mostrar =""
							for(i =0; i<data.cont; i++){
								mostrar +=
								"<tr>"+
									"<td><center>"+data.ventas[i]["nombre_cliente"]+"</center></td>"+
									"<td><center>"+data.ventas[i]["telefono_cliente"]+"</center></td>"+
									"<td><center>"+data.ventas[i]["cantidad"]+"</center></td>"+
									"<td><center>"+data.ventas[i]["precio"]+"</center></td>"+
									"<td><center>"+data.ventas[i]["monto_venta"]+"</center></td>"+
									"<td><center>"+data.ventas[i]["fecha_venta"]+"</center></td>"+
								"</tr>"
							}
							$("#id-ventas-table").html(mostrar);
							$('#ModalDetalles').modal('show');

								
				        
				    },
		        error : function(xhr,errmsg,err) {
						 console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
						 $(".load").fadeOut();
						 }              
				
					});


			    
				});

				$('#btn-eliminar-venta').on('click',function(){
					console.log("entre a eliminar");
					media_id =$(this).attr('data-mediaid');
					$("#btn-si-eliminar-venta").attr("data-mediaid",media_id);
					$("#ModalPregutaEliminar").modal("show");

				});

				$("#btn-si-eliminar-venta").on('click',function(){
					media_id =$(this).attr('data-mediaid');
					var csrftoken = getCookie('csrftoken');
					$.ajax({
				    url : "{% url 'admingo:eliminar_venta'%}",
				    type : 'POST',
				    data : 
				    	{	'csrfmiddlewaretoken' : csrftoken,
				    		'media_id' : media_id,
				    	},
						beforeSend: function() {
			        // setting a timeout
			        $(".load").fadeIn();
			        $('#ModalPregutaEliminar').modal('hide');
			        //console.log("Before Send");
		  				//$.ajaxSettings.beforeSend(xhr, settings);
			    	},
				    success : function(data){
							//console.log(data);
							//console.table(data.ventas)
							if (data.estado == 1){
								demo.showNotificationSucces('top','center','Hemos eliminado la venta.')
								location.reload();
								$(".load").fadeIn();
							}else{
								demo.showNotificationError('top','center','No hemos podido eliminar la venta. Intentalo nuevamente')
								
								$(".load").fadeOut();
							}					
				        
				    },
		        error : function(xhr,errmsg,err) {
						 console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
						 $(".load").fadeOut();
						 }              
				
					});
				});
    	});
	</script>

</html>



